@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250 247 242;
  --foreground: 11 11 13;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  font-feature-settings: "ss01", "cv02";
}
